 /* start global */ 
  *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

} 

body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;

}

.clearfix{
    clear: both;
}


/* end global */

/*  start header */

.main{
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

nav{
    background-color: #ddd;

}

nav ul{
    padding: 20px;
    text-align: center;
}

nav ul li{
    display: inline-block;
}


nav ul li:after{
    content: " |"
}

nav ul li:last-child::after{
    content: ""
}

 
/* end header */

/* start main */

main{
    background-color: #eee;
    padding: 20px;
}
 
main p{
    text-align:center;
    /* padding: 20px; */
}

main p span{
    color: #666;
    font-weight: bold;
}

main p mark {
    background-color: #00f;
    color: #fff;
}
/* End main */

/* start articales */

.post{
    width: 70%;
    float: left;
}
  
.post article{
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 20px;
}
.post article header{
    background-color: #e2e2e2;
    padding: 10px;

}

.post article section{
    padding: 10px;
}

.post article section details{
    margin: 10px 0;
    padding: 10px 0;
    background-color: #fff;
    color: #000;
}

.post article section details li{
    padding: 5px 0;
}
.post article section .long-link{
    width: 200px;
}

.post article section code{
    background-color: #fff;
    padding: 10px;
    display: block;
    margin: 10px 0;
    border: 1px solid #ccc;
    max-width: 500px;
}
.post article section .img-fig{
    width: 800px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
}
.post article section .img-fig img{
    border: 1px solid #ccc;
    padding: 3px;
    background-color:#fff;
}

/* end articales */

/* start sidebar*/

aside{
    float: right;
    width:30%;
}

aside section{
   background-color: #eee;
   margin: 20px ; /*put auto for center after value number*/
   padding: 20px;
   border: 1px solid #ccc;
   margin-bottom: 20px;
}

aside section h3{
    background-color: #d1d1d1;
    padding: 10px;
    margin-bottom: 10px;
}

/* aside section ul{
    margin-top: 10px;
} */

aside section ul li{
    line-height: 1.6
}

/* end sidebar*/


/* start footer */
footer{
    background-color: #333;
    color:#ddd;
    text-align: center;
    padding: 10px;
}
/* end footer */

